table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}


th, td {
  padding: 4px;
  text-align: left;
}
tr:nth-child(even) {background-color: #f2f2f2;}
th {
  background-color: #dd6f00;
  color: white;
}

#sform {

 text-align: center;
}
#sfor {

background-color: orange;
}